<div class="container">
  <app-header></app-header>
  <app-search></app-search>

  <!-- Content Bereich für alle Daten -->
  <!--<app-content></app-content>-->
  <!-- Platzhalter für routen hinzufügen-->
  <router-outlet></router-outlet>

  <footer class="footer">
    <div class="container">
      <!--1. Property "copyright zur Komponenten hinzugefügt und Wert übergeben"-->
      <app-footer copyright="Copyright 2021 by Grohne" redCssStyle="red" textContent="Hallo" ></app-footer>
    </div>
  </footer>
</div>
